/* colors:
eae4e9
fff1e6
fde2e4
fad2e1
e2ece9
bee1e6
f0efeb
dfe7fd
cddafd */


.app {
  background-color: #cddafd;
  height: 100vh;
  padding: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.header{
  text-align: center;
  padding: 30px;
}

.todo-list {
  margin: auto;
  background: #fde2e4;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fad2e1;
  border-radius: 3px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}