.toggle-container {
    width: 32px;
    margin:auto;
    background-color: #d8f3dc;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
    padding: 2px;
    height: 16px;
    position: relative;
  }
  
  .dialog-button {
    display: inline-block;
    cursor: pointer;
    background-color: #74c69d;
    width: 50%;
    height: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    min-width: 2px;
    width: 50%;
    height: 5px;
    min-width: unset;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    transition: all 0.3s ease;
  }

  .dialog-button:hover{
    left: 10px;
    transition: all 0.3s ease;
    opacity: 1;
  }
  
  .disabled{
    opacity: 0.3;
    left: 2px;
  }
  